@model Vidly.Models.RegisterViewModel
@{
    ViewBag.Title = "User form";
}

<h2>New user</h2>
<hr />

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <!--ANTI CSRF-->
    @Html.AntiForgeryToken()

    <!--ERROR MESSAGE SUMMARY-->
    @Html.ValidationSummary(true, "Oops! Something went wrong..", new { @class = "text-danger" })

    <!--EMPLOYEE NUMBER-->
    <div class="form-group">
        @Html.LabelFor(m => m.EmployeeNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.EmployeeNumber, new { @class = "form-control" })
        </div>
    </div>

    <!--EMAIL-->
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>

    <!--PASSWORD-->
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>

    <!--CONFIRM PASSWORD-->
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <!--SUBMIT-->
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
