@model Vidly.ViewModels.AccountRegisterViewModel
@{
    ViewBag.Title = "User form";
}

<h2>Register new user</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-vertical", role = "form" }))
{
    <!--ANTI CSRF-->
    @Html.AntiForgeryToken()
    @*@Html.ValidationSummary(true, "Oops! Something went wrong..", new { @class = "text-danger" })*@

    <h4>Fill out the form fields and click register.</h4>
    <hr />

    <!--EMPLOYEE #-->
    <div class="form-group">
        @Html.LabelFor(m => m.EmployeeNumber)
        @Html.TextBoxFor(m => m.EmployeeNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EmployeeNumber)
    </div>

    <!--PHONE #-->
    <div class="form-group">
        @Html.LabelFor(m => m.Phone)
        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Phone)
    </div>

    <!--EMAIL-->
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    <!--PASSWORD-->
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    <!--CONFIRM PASSWORD-->
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>

    <!--SUBMIT-->
    <br />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
