<!DOCTYPE html>
<html lang="en">
<head>

    <!--HTML META DATA-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Vidly</title>

    <!--CSS SCRIPTS-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <!--RENDERING A PARTIAL VIEW-->
    @Html.Partial("_NavigationBar")

    <div class="container body-content">

        <!--MAIN CONTENT-->
        @RenderBody()

        <!--FOOTER-->
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Vidly</p>
        </footer>

    </div>

    <!--RENDER AFTER MARKUP HAS LOADED-->-->
    @Scripts.Render("~/bundles/libs")
    @RenderSection("scripts", required: false)

</body>
</html>
