@model Vidly.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "Movie form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.PageHeader</h2>
<hr />

<!--DISPOSE FORM OBJECT WHEN EXITING BLOCK-->
@using (Html.BeginForm("Save", "Movies"))
{
    <!--ERROR MESSAGE SUMMARY-->
    @Html.ValidationSummary(true, "Oops! Something went wrong.")

    <!--TITLE-->
    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.Title)
    </div>

    <!--RELEASE DATE-->
    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ReleaseDate)
    </div>

    <!--STOCK-->
    <div class="form-group">
        @Html.LabelFor(m => m.Stock)
        @Html.TextBoxFor(m => m.Stock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Stock)
    </div>

    <!--GENRE-->
    <div class="form-group">
        <label>Genre</label>
        @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genres, "Id", "Name"), "---", new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.GenreId)
    </div>

    <!--HIDDEN FIELD FOR MOVIE ID-->
    @Html.HiddenFor(m => m.Id)

    <!--ANTI CSRF-->
    @Html.AntiForgeryToken()

    <!--SUBMIT-->
    <br/>
    <button type="submit" class="btn btn-primary">Save</button> 
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}