@model Vidly.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "Customer form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer form</h2>
<hr />

<!--DISPOSE FORM OBJECT WHEN EXITING BLOCK-->
@using (Html.BeginForm("Save", "Customers"))
{
    <!--ERROR MESSAGE SUMMARY-->
    @Html.ValidationSummary(true, "Oops! Something went wrong.")

    <!--FIRST NAME-->
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Firstname)
        @Html.TextBoxFor(m => m.Customer.Firstname, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Firstname)
    </div>

    <!--LAST NAME-->
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Lastname)
        @Html.TextBoxFor(m => m.Customer.Lastname, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Lastname)
    </div>

    <!--MEMBERSHIP TYPE-->
    <div class="form-group">
        <label>Membership type</label>
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "---", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>

    <!--BIRTH DATE-->
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.BirthDate)
        @Html.TextBoxFor(m => m.Customer.BirthDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.BirthDate)
    </div>

    <!--IS SUBSCRIBED-->
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) Subscribed to newsletter
        </label>
    </div>

    <!--HIDDEN FIELD-->
    @Html.HiddenFor(m => m.Customer.Id)

    <!--ANTI CSRF-->
    @Html.AntiForgeryToken()

    <!--SUBMIT-->
    <br/>
    <button type="submit" class="btn btn-primary">Save</button> 
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}